// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
      &,
      &:hover,
      &:active,
      &:focus {
            @content;
      }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

// keyframes mixin
/// @author Natan Fourié
/// @param {String} $name
/// @param {String} $transform1
/// @param {String} $transform2
@mixin keyframes-transform($name, $transform1, $transform2) {
    @-webkit-keyframes #{$name} {
        0% {
            -webkit-transform: $transform1;
        }
        100% {
            -webkit-transform: $transform2;
        }
    }
    @-moz-keyframes #{$name} {
        0% {
            -moz-transform: $transform1;
        }
        100% {
            -moz-transform: $transform2;
        }
    }
    @-o-keyframes #{$name} {
        0% {
            -o-transform: $transform1;
        }
        100% {
            -o-transform: $transform2;
        }
    }
    @-ms-keyframes #{$name} {
        0% {
            -ms-transform: $transform1;
        }
        100% {
            -ms-transform: $transform2;
        }
    }
    @keyframes #{$name} {
        0% {
            transform: $transform1;
        }
        100% {
            transform: $transform2;
        }
    }
}
