{% extends 'base.html.twig' %}

{% block body_id 'security-login' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% for flash_success in app.flashes('verify_email_success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-check"></span> {{ flash_success }}
        </div>
    {% endfor %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ flash_error }}
        </div>
    {% endfor %}

    <div class="d-flex justify-content-center" {{ vue_component('security/login', {
        loginPath: path(get_parameter('app.security_login_route')),
        lastUsername: last_username,
        csrfToken: csrf_token('authenticate'),
        forgotPasswordPath: path('app_reset_password_request'),
        registerPath: path(get_parameter('app.register_route'))
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('securityLogin') }}
{% endblock %}
