{% extends 'base.html.twig' %}

{% block body_id 'home-index' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for flash_success in app.flashes('verify_email_success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-check"></span> {{ flash_success }}
        </div>
    {% endfor %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ flash_error }}
        </div>
    {% endfor %}

    <div {{ vue_component('home/index', {
        appName: appName,
        user: user,
        books: books,
        newBookPath: path('app_book_new'),
        isEditable: isEditable,
        logoutPath: path(get_parameter('app.security_logout_route')),
        userPath: path('app_user_index')
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homeIndex') }}
{% endblock %}
