{% extends 'base.html.twig' %}

{% block body_id 'reset-password-check-email' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <div {{ vue_component('reset-password/check-email', {
        linkExpireTime: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
        forgotPasswordPath: path('app_reset_password_request')
    }) }}></div>
{% endblock %}
