{% extends 'base-email.html.twig' %}

{% block body_id 'reset-password-email' %}

{% block title %}E-mail de réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <h1 class="text-center">Bonjour!</h1>
        </div>

        <p>Pour réinitialiser votre mot de passe, merci de visiter le lien suivant</p>

        <a href="{{ url('app_reset_password_reset', {token: resetToken.token}) }}">{{ url('app_reset_password_reset', {token: resetToken.token}) }}</a>

        <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

        <p>Au plaisir!</p>
    </div>
{% endblock %}
