{% extends 'base.html.twig' %}

{% block body_id 'reset-password-request' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ flash_error }}
        </div>
    {% endfor %}

    <div {{ vue_component('reset-password/request', {
        requestForm: "
            #{form_start(requestForm)}
                #{form_row(requestForm.email)}
                <div>
                    <small>Entrer votre adresse e-mail afin que nous puissions vous envoyer un lien de réinitialisation de votre mot de passe.</small>
                </div>
                <button class=\"btn btn-primary\">Envoyer l'e-mail de réinitialisation du mot de passe</button>
            #{form_end(requestForm)}
        "
    }) }}></div>
{% endblock %}
