{% extends 'base.html.twig' %}

{% block body_id 'reset-password-reset' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div {{ vue_component('reset-password/reset', {
        resetForm: "
            #{form_start(resetForm)}
                #{form_row(resetForm.plainPassword)}
                <button class=\"btn btn-primary\">Réinitialiser mot de passe</button>
            #{form_end(resetForm)}
        "
    }) }}></div>
{% endblock %}
