{% extends 'base.html.twig' %}

{% block body_id 'registration-check-email' %}

{% block title %}E-mail d'activation du compte envoyé{% endblock %}

{% block body %}
    <div {{ vue_component('registration/check-email', {
        registerPath: path(get_parameter('app.register_route'))
    }) }}></div>
{% endblock %}
