{% extends 'base-email.html.twig' %}

{% block body_id 'registration-confirmation-email' %}

{% block title %}E-mail d'activation du compte{% endblock %}

{% block body %}
    <div>
        <div class="d-flex justify-content-center">
            <h1 class="text-center">Bonjour! Merci de confirmer votre adresse e-mail!</h1>
        </div>

        <p>
            Merci de confirmer votre adresse e-mail en cliquant sur ce lien: <br><br>
            <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.
            Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>

        <p>Au plaisir !</p>
    </div>
{% endblock %}
