{% extends 'base.html.twig' %}

{% block body_id 'registration-register' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-check"></span> {{ message }}
        </div>
    {% endif %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ flash_error }}
        </div>
    {% endfor %}

    <div class="d-flex justify-content-center" {{ vue_component('registration/register', {
        registrationForm: "
            #{form_start(registrationForm)}
                #{form_row(registrationForm.email)}
                #{form_row(registrationForm.plainPassword)}
                #{form_row(registrationForm.firstname)}
                #{form_row(registrationForm.lastname)}
                <button type=\"submit\" class=\"my-2 btn btn-sm btn-primary\">S'enregistrer</button>
                <a class=\"mx-2\" href=\"#{path(get_parameter('app.security_login_route'))}\">Se connecter</a>
            #{form_end(registrationForm)}
        "
    }) }}></div>
{% endblock %}
