@import "~bootstrap/scss/bootstrap";
@import "./../abstracts/variables";
@import "./../abstracts/mixins";

@import url('https://fonts.googleapis.com/css?family=Philosopher');

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
    font-family: $text-font-stack;
    font-size: 1em;
    letter-spacing: 1px;
}

h1 {
	// font-size: 1.7rem;
    margin: 20px auto;
}

/**
 * Basic styles for links
 */
a {
    color: $text-color;
    text-decoration: none;

    @include on-event {
        text-decoration: underline;
    }
}


@media (max-width: 575.98px) {
    h1 {
		margin: 20px auto;
	}
}

