<template>
    <div>
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ linkExpireTime }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou merci de <a :href="forgotPasswordPath">Réessayer</a>.</p>
    </div>
</template>

<script setup>
    defineProps({
        linkExpireTime: {
            type: String,
            required: true
        },
        forgotPasswordPath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    export default {
        name: 'resetPasswordCheckEmail'
    }
</script>
