<template>
    <div>
        <title-component text="Réinitialiser votre mot de passe" />

        <div v-html="requestForm"></div>
    </div>
</template>

<script setup>
    defineProps({
        requestForm: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'ResetPasswordRequest',
        components: {
            TitleComponent
        }
    }
</script>
