<template>
    <div>
        <title-component text="Réinitialiser votre mot de passe" />

        <div v-html="resetForm"></div>
    </div>
</template>

<script setup>
    defineProps({
        resetForm: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from '../../components/title.vue';

    export default {
        name: 'ResetPasswordReset',
        components: {
            TitleComponent
        }
    }
</script>
