<template>
    <div>
        <title-component text="Édition de l'utilisateur" />

        <div v-html="editForm"></div>

        <a :href="userPath">retour à la liste</a>

        <form method="post" :action="userDeletePath" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet utilisateur ?');">
            <input type="hidden" name="_token" :value="csrfToken">
            <button class="btn">Supprimer</button>
        </form>
    </div>
</template>

<script setup>
    defineProps({
        editForm: {
            type: String,
            required: true
        },
        userPath: {
            type: String,
            required: true
        },
        userDeletePath: {
            type: String,
            required: true
        },
        csrfToken: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from '../../components/title.vue';

    export default {
        name: 'UserEdit',
        components: {
            TitleComponent
        }
    }
</script>
