<template>
    <div>
        <title-component text="Liste des utilisateurs" />

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adresse e-mail</th>
                    <th>Rôles</th>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Compte activé</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <div v-if="users">
                    <div v-for="user in users" :key="user.id">
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.isVerified }}</td>
                            <td>
                                <a :href="'/user/'+user.id">afficher</a>
                                <a :href="'/user/'+user.id+'/edit'">éditer</a>
                            </td>
                        </tr>
                    </div>
                </div>
                <div v-else>
                    <tr>
                        <td colspan="8">Aucune entrée trouvée</td>
                    </tr>
                </div>
            </tbody>
        </table>

        <a :href="userNewPath">Créer un nouvel utilisateur</a>
    </div>
</template>

<script setup>
    defineProps({
        users: {
            type: String,
            required: true
        },
        userNewPath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from '../../components/title.vue';

    export default {
        name: 'UserIndex',
        components: {
            TitleComponent
        }
    }
</script>
