<template>
    <div>
        <title-component text="Création d'un nouvel utilisateur" />

        <div v-html="newForm"></div>

        <a :href="userPath">retour à la liste</a>
    </div>
</template>

<script setup>
    defineProps({
        newForm: {
            type: String,
            required: true
        },
        userPath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'UserNew',
        components: {
            TitleComponent
        }
    }
</script>
