<template>
    <div>
        <title-component text="Utilisateur" />

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Adresse e-mail</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>{{ user.roles }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom de famille</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Compte activé</th>
                    <td>{{ user.isVerified }}</td>
                </tr>
            </tbody>
        </table>

        <a :href="userPath">retour à la liste</a>

        <a :href="userEditPath">éditer</a>

        <form method="post" :action="userDeletePath" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet utilisateur ?');">
            <input type="hidden" name="_token" :value="csrfToken">
            <button class="btn">Supprimer</button>
        </form>
    </div>
</template>

<script setup>
    defineProps({
        user: {
            type: String,
            required: true
        },
        userPath: {
            type: String,
            required: true
        },
        userEditPath: {
            type: String,
            required: true
        },
        userDeletePath: {
            type: String,
            required: true
        },
        csrfToken: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from '../../components/title.vue';

    export default {
        name: 'UserShow',
        components: {
            TitleComponent
        }
    }
</script>
