<template>
    <div>
        <p>Votre compte a bien été créé. Un e-mail vient de vous être envoyé contenant un lien pour activer votre compte.</p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou merci de <a :href="registerPath">Réessayer</a>.</p>
    </div>
</template>

<script setup>
    defineProps({
        registerPath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    export default {
        name: 'RegistrationCheckEmail'
    }
</script>
