<template>
    <div class="my-5 w-50">
        <title-component text="S'enregistrer" />

        <div v-html="registrationForm"></div>
    </div>
</template>

<script setup>
    defineProps({
        registrationForm: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'RegistrationRegister',
        components: {
            TitleComponent
        }
    }
</script>
