{% extends 'base.html.twig' %}

{% block body_id 'book-edit' %}

{% block title %}Éditer un livre{% endblock %}

{% block body %}
    <div {{ vue_component('book/edit', {
        editForm: "
            #{form_start(form)}
                #{form_widget(form)}
                <button class=\"btn\">Mettre à jour</button>
            #{form_end(form)}
        ",
        homePath: path(get_parameter('app.main_route')),
        deleteBookPath: path('app_book_delete', {'id': book.id}),
        csrfToken: csrf_token('delete' ~ book.id),
        isEditable: isEditable
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('bookIndex') }}
{% endblock %}
