{% extends 'base.html.twig' %}

{% block body_id 'book-new' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <div {{ vue_component('book/new', {
        newForm: "
            #{form_start(form)}
                #{form_widget(form)}
                <button class=\"btn\">Enregistrer</button>
            #{form_end(form)}
        ",
        homePath: path(get_parameter('app.main_route'))
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('bookIndex') }}
{% endblock %}
