{% extends 'base.html.twig' %}

{% block body_id 'book-show' %}

{% block title %}Livre{% endblock %}

{% block body %}
    {# {% for flash_success in app.flashes('edit_book_success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-check"></span> {{ flash_success }}
        </div>
    {% endfor %}

    {% for flash_error in app.flashes('edit_book_error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span class="me-2 fa fa-circle-exclamation"></span>
            {{ flash_error }}
        </div>
    {% endfor %} #}

    <div {{ vue_component('book/show', {
        book: book,
        homePath: path(get_parameter('app.main_route')),
        editBookPath: path('app_book_edit', {'id': book.id}),
        deleteBookPath: path('app_book_delete', {'id': book.id}),
        csrfToken: csrf_token('delete' ~ book.id),
        isEditable: isEditable
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('bookIndex') }}
{% endblock %}
