{% extends 'base.html.twig' %}

{% block body_id 'error-error-404' %}

{% block title %}Erreur 404!{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('build/images/layout/favicon/404/favicon.ico') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div {{ vue_component('error/error-404', {
        homePath: path(get_parameter('app.main_route'))
    }) }}></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('errorError404') }}
{% endblock %}
