// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text.
// -----------------------------------------------------------------------------

body {
    font-family: $text-font-stack;
    font-size: 1em;
    letter-spacing: 1px;
}

h1 {
	// font-size: 1.7rem;
    margin: 20px auto;
}

.hr-container {
    isolation: isolate;
    color: #818078;
    font-size: 20px;
    text-align: center;
}

.hr-text {
    line-height: 1em;
    color: black;
    text-align: center;

    &:after {
        line-height: 1.5em
    }
}

/**
 * Basic styles for links
 */
a {
    color: $text-color;
    text-decoration: none;

    @include on-event {
        text-decoration: underline;
    }
}


@media (max-width: 575.98px) {
    h1 {
		margin: 20px auto;
	}
}
