<template>
    <div class="d-flex justify-content-center">
        <h1 class="text-center">{{ text }}</h1>
    </div>
</template>

<script setup>
    defineProps({
        text: {
            type: String,
            required: true
        }
    });
</script>

<script>
    export default {
        name: 'ComponentTitle'
    }
</script>
