<template>
    <main>
        <title-component :text="appName" />

        <section v-if="user.id" class="mt-2">
            <h2>Informations de l'utilisateur</h2>

            <ul>
                <li><b>Adresse e-mail :</b> {{ user.email }}</li>
                <li><b>Prénom :</b> {{ user.firstname }}</li>
                <li><b>Nom de famille :</b> {{ user.lastname }}</li>
                <li><b>Rôles :</b> {{ user.roles }}</li>
            </ul>

            <a class="btn btn-sm btn-primary" :href="logoutPath">Se déconnecter</a>
        </section>

        <section>
            <a class="mx-2" :href="userPath">Afficher la liste des utilisateurs</a>
        </section>

        <section class="mt-5">
            <h2>Liste des livres</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    <div v-if="books">
                        <div v-for="book in books" :key="book.id">
                            <tr>
                                <td>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>
                                    <a :href="'/book/'+book.id">afficher</a>
                                    <a v-if="isEditable" :href="'/book/'+book.id+'/edit'">éditer</a>
                                </td>
                            </tr>
                        </div>
                    </div>
                    <div v-else>
                        <tr>
                            <td colspan="3">Aucune entrée trouvée</td>
                        </tr>
                    </div>
                </tbody>
            </table>

            <a :href="newBookPath">Créer un nouveau livre</a>
        </section>
    </main>
</template>

<script setup>
    defineProps({
        appName: {
            type: String,
            required: true
        },
        user: {
            type: Array,
            required: true
        },
        books: {
            type: Array,
            required: true
        },
        newBookPath: {
            type: String,
            required: true
        },
        isEditable: {
            type: Boolean,
            required: false
        },
        logoutPath: {
            type: String,
            required: true
        },
        userPath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'HomeIndex',
        components: {
            TitleComponent
        }
    }
</script>
