{% extends 'base.html.twig' %}

{% block body_id 'accueil' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p>Nombre aléatoire entre 1 et 100 => {{ number }}</p>

    <div {{ vue_component('accueil/hello', { 'name': "Natan" }) }}></div>
{% endblock %}
