/*
 * Gestion de propriétés liées au icones Emojione
 */

// Création de différentes tailles d'icones
$icons-sizes: 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 48 64 72 80 96 128;
@each $value in $icons-sizes {
    .icon-size-#{$value}px, .icon-size-#{$value}px svg {
        height: #{$value}px;
        width: #{$value}px;
    }
}

.icon-bordered svg {
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}
