// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	// z-index: 3;

    div {
        height: 100%;
    }
}

.logofooter {
	float: right;
	margin-right: 20px;
	width: 86px;
}

.logo {
	height: 46px;
	padding: 5px 5px !important;
	position: relative;
	left: 52.5px;
}


@media (max-width: 575.98px) {
	.logo {
		position: inherit !important;
		float: left !important;
	}
}
