// -----------------------------------------------------------------------------
// This file contains all styles related to grid.
// -----------------------------------------------------------------------------
.no-infos {
    grid-area: none;
}

// Ajouter cette classe sur un élément parent pour centrer ses éléments enfants.
.super-center {
    display: grid;
    place-items: center;
}

// Permet de créer une sidebar basé sur le système de grille.
.sidebar-grid {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

// Permet de créer un footer basé sur le système de grille.
.footer-grid {
    display: grid;
    grid-template-rows: 1fr minmax(150px, 25%);
}
