<template>
    <div class="my-5 w-50">
        <form :action="loginPath" method="post">
            <title-component text="Page de connexion" />

            <div>
                <label for="inputEmail">Adresse e-mail</label>
                <input type="email" :value="lastUsername" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" :value="csrfToken">
            <button class="my-2 btn btn-md btn-primary" type="submit">Se connecter</button>

            <a class="mx-2" :href="forgotPasswordPath">Mot de passe oublié</a>
            <a class="mx-2" :href="registerPath">S'enregistrer</a>
        </form>
    </div>
</template>

<script setup>
defineProps({
    loginPath: {
        type: String,
        required: true
    },
    lastUsername: {
        type: String,
        required: true
    },
    csrfToken: {
        type: String,
        required: true
    },
    forgotPasswordPath: {
        type: String,
        required: true
    },
    registerPath: {
        type: String,
        required: true
    }
});
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'SecurityLogin',
        components: {
            TitleComponent
        },
        data() {
            return {
                username: '',
                password: ''
            };
        }
    }
</script>
