<template>
    <div>
        <title-component text="Éditer un livre" />

        <div v-html="editForm"></div>

        <a :href="homePath">retour à la liste</a>

        <form v-if="isEditable" method="post" :action="deleteBookPath" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce livre ?');">
            <input type="hidden" name="_token" :value="csrfToken">
            <button class="btn">Supprimer</button>
        </form>
    </div>
</template>

<script setup>
    defineProps({
        editForm: {
            type: String,
            required: true
        },
        homePath: {
            type: String,
            required: true
        },
        deleteBookPath: {
            type: String,
            required: true
        },
        csrfToken: {
            type: String,
            required: true
        },
        isEditable: {
            type: Boolean,
            required: false
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'BookEdit',
        components: {
            TitleComponent
        }
    }
</script>
