<template>
    <div>
        <title-component text="Créer un nouveau livre" />

        <div v-html="newForm"></div>

        <a :href="homePath">Retour à la liste</a>
    </div>
</template>

<script setup>
    defineProps({
        newForm: {
            type: String,
            required: true
        },
        homePath: {
            type: String,
            required: true
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'BookNew',
        components: {
            TitleComponent
        }
    }
</script>
