<template>
    <div>
        <title-component text="Livre" />

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ book.title }}</td>
                </tr>
            </tbody>
        </table>

        <a :href="homePath">retour à la liste</a>
        <a :href="editBookPath">éditer</a>

        <form v-if="isEditable" method="post" :action="deleteBookPath" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet livre ?');">
            <input type="hidden" name="_token" :value="csrfToken">
            <button class="btn">Supprimer</button>
        </form>
    </div>
</template>

<script setup>
    defineProps({
        book: {
            type: Array,
            required: true
        },
        homePath: {
            type: String,
            required: true
        },
        editBookPath: {
            type: String,
            required: true
        },
        deleteBookPath: {
            type: String,
            required: true
        },
        csrfToken: {
            type: String,
            required: true
        },
        isEditable: {
            type: Boolean,
            required: false
        }
    });
</script>

<script>
    import TitleComponent from './../../components/title.vue';

    export default {
        name: 'BookShow',
        components: {
            TitleComponent
        }
    }
</script>
