<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}E-mail{% endblock %}</title>
            <meta name="language" content="French">
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ absolute_url(asset('build/emailBase.css')) }}" />
            {% endblock %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ absolute_url(asset('build/emailBase.js')) }}"></script>
        {% endblock %}
    </body>
</html>
