<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}Bienvenue{% endblock %}</title>
            <meta name="title" content="Natan FOURIÉ - Développeur PHP/JS">
            <meta name="description" content="Dataprojekt test">
            <meta name="keywords" content="Dataprojekt, test, PHP, Javascript, Symfony, VueJS">
            <meta name="language" content="French">
            <meta name="author" content="Natan FOURIÉ">
            {% block favicon %}
                <link rel="shortcut icon" href="{{ asset('build/images/layout/favicon/NF/favicon.ico') }}">
            {% endblock %}
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            <header>
                {% include 'layout/header.html.twig' %}
            </header>
        {% endblock header %}

        <div class="container p-1">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                {% include 'layout/footer.html.twig' %}
            </footer>
        {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
