{% extends 'base.html.twig' %}

{% block body_id 'user-edit' %}

{% block title %}Édition de l'utilisateur{% endblock %}

{% block body %}
    <div {{ vue_component('user/edit', {
        editForm: "
            #{form_start(form)}
                #{form_widget(form)}
                <button class=\"btn\">Mettre à jour</button>
            #{form_end(form)}
        ",
        userPath: path('app_user_index'),
        userDeletePath: path('app_user_delete', {'id': user.id}),
        csrfToken: csrf_token('delete' ~ user.id)
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('userIndex') }}
{% endblock %}

