{% extends 'base.html.twig' %}

{% block body_id 'user-index' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div {{ vue_component('user/index', {
        users: users,
        userNewPath: path('app_user_new')
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('userIndex') }}
{% endblock %}

