{% extends 'base.html.twig' %}

{% block body_id 'user-new' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div {{ vue_component('user/new', {
        newForm: "
            #{form_start(form)}
                #{form_widget(form)}
                <button class=\"btn\">Enregistrer</button>
            #{form_end(form)}
        ",
        userPath: path('app_user_index')
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('userIndex') }}
{% endblock %}
