{% extends 'base.html.twig' %}

{% block body_id 'user-show' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div {{ vue_component('user/show', {
        user: user,
        userPath: path('app_user_index'),
        userEditPath: path('app_user_edit', {'id': user.id}),
        userDeletePath: path('app_user_delete', {'id': user.id}),
        csrfToken: csrf_token('delete' ~ user.id)
    }) }}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('userIndex') }}
{% endblock %}

